.crossnote/
.devcontainer/
.vscode/
Data-Science/
Estadísticas-y-Matemáticas/
English/
Markdown/
Otro/
SQL/
styles.css
Python/.devcontainer/
Python/.vscode/
Python/Assets/Computer Science/
Routine.md/