# Ignorar la configuración de VS Code
.crossnote/

# Ignorar directorios con notas incompletas
Data Science/
Estadística y Matemáticas/
Inglés/
Markdown/
Otro/
SQL/
Routine.md/
styles.css/

# Ignorar archivos de configuración de VS Code
.vscode/

# Ignorar archivos de configuración de DevContainer
.devcontainer/